---
import { capitalize } from '../utils';
type Props = {
  tags: string[];
};

const { tags } = Astro.props as Props;
const baseTagClass =
  'px-2 py-1 text-white rounded-full text-xs hover:opacity-90';
---

<div class="flex flex-wrap gap-2" aria-label="Post tags">
  {
    tags ? (
      tags.map((tag: string, index: number) => (
        <span
          class={`${baseTagClass} ${index % 2 === 0 ? 'bg-blue-500' : 'bg-gray-600'}`}
        >
          <a href={`/tags/` + tag}>#{capitalize(tag)}</a>
        </span>
      ))
    ) : (
      <span class="text-gray-500 text-xs">No tags available</span>
    )
  }
</div>

<!-- In the above code, we have created a  Tags  component that accepts an array of tags as a prop. We are using the  capitalize  function from the  utils.ts  file to capitalize the first letter of each tag. 
  We are also using the  baseTagClass  variable to define the base styles for the tags. We are using the  map  function to iterate over the tags array and render each tag as a clickable link. 
  We are also using the  index  variable to determine the background color of the tag. If the index is even, we are using the  bg-blue-500  class, and if the index is odd, we are using the  bg-gray-600  class. 
  Finally we are rendering the tags in a flex container with a gap of 2 units between each tag. -->
