---
import { capitalize } from '../utils';
type Props = {
  tags: string[];
};

const { tags } = Astro.props as Props;
const baseTagClass =
  'px-2 py-1 text-white rounded-full text-xs hover:opacity-90';
---

<div class="flex flex-wrap gap-2" aria-label="Post tags">
  {
    tags ? (
      tags.map((tag: string, index: number) => (
        <span
          class={`${baseTagClass} ${index % 2 === 0 ? 'bg-blue-500' : 'bg-gray-600'}`}
        >
          <a href={`/articles/tag/` + tag}>#{capitalize(tag)}</a>
        </span>
      ))
    ) : (
      <span class="text-gray-500 text-xs">No tags available</span>
    )
  }
</div>
