---
const { tags } = Astro.props;

type Props = {
  tags: string[];
};
---

<div class="flex flex-wrap">
  {
    tags.map((tag) => (
      <a
        href={`/tags/${tag}`}
        class="px-2 py-1 border text-white rounded-full text-xs mr-2 hover:bg-indigo-500"
      >
        {tag}
      </a>
    ))
  }
</div>
